<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Идеальные путешествия существуют</title><link rel="stylesheet" href="./css/style.css"></head><body><header class="header"><div class="wrapper"><div class="header_wrapper"><div class="header_logo"><a href="/" class="header_logo-link"><img src="./img/header_logo.png" alt="Собери свой тур" class="header_logo-pic"></a></div><nav class="header_nav"><ul class="header_list"><li class="header_item"><a href="#1" class="header-link">Туры</a></li><li class="header_item"><a href="#1" class="header-link">Создать тур</a></li><li class="header_item"><a href="#1" class="header-link">Отзывы</a></li><li class="header_item"><a href="#1" class="header-link">Истории</a></li></ul></nav><div class="mobile_number"><a href="#1" class="header-link">+7 999 999 99 99</a></div></div></div></header><main class="main"><section class="intro"><div class="wrapper"><h1 class="intro_title">Идеальные путешествия существуют </h1><p class="intro_subtitle">Идейные соображения высшего порядка,
а также рамки и место обучения кадров </p><form class="search_tour_form"><p><button type="submit" class="search_form_submit">Найти тур</button></p></form></div></section><section class="main_info_foto_area"><h2 class="choose_tour_title">Выбери свой тур </h2><ul class="choose_tour_list"><li class="choose_tour_item"><a href="#1" class="choose_tour_item_link">Популярные</a></li><li class="choose_tour_item"><a href="#1" class="choose_tour_item_link">Авторские</a></li><li class="choose_tour_item"><a href="#1" class="choose_tour_item_link">Походы</a></li><li class="choose_tour_item"><a href="#1" class="choose_tour_item_link">Сплавы</a></li><li class="choose_tour_item"><a href="#1" class="choose_tour_item_link">Велопрогулки</a></li></ul><div class="tour_foto_wrapper"><ul class="tour_foto_list"><li class="choose_tour_card"><div class="upper_tour_title">Путешествие в горы </div><div class="tour_price">от 80 000 руб </div><div class="more_info_and_arrow"><a class="more_info_about_tour" href="#">Подробнее </a></div></li><li class="choose_tour_card"><div class="upper_tour_title">Путешествие в горы </div><div class="tour_price">от 80 000 руб </div><div class="more_info_and_arrow"><a class="more_info_about_tour" href="#">Подробнее </a></div></li><li class="choose_tour_card"><div class="upper_tour_title">Путешествие в горы </div><div class="tour_price">от 80 000 руб </div><div class="more_info_and_arrow"><a class="more_info_about_tour" href="#">Подробнее </a></div></li><li class="choose_tour_card"><div class="upper_tour_title"><h3 class="card_title">Путешествие в горы</h3></div><div class="tour_price">от 80 000 руб </div><div class="more_info_and_arrow"><a class="more_info_about_tour" href="#">Подробнее </a></div></li><li class="choose_tour_card"><div class="upper_tour_title"><h3 class="card_title">Путешествие в горы</h3></div><div class="tour_price">от 80 000 руб </div><div class="more_info_and_arrow"><a class="more_info_about_tour" href="#">Подробнее </a></div></li><li class="choose_tour_card"><div class="upper_tour_title"><h3 class="card_title">Путешествие в горы</h3></div><div class="tour_price">от 80 000 руб </div><div class="more_info_and_arrow"><a class="more_info_about_tour" href="#">Подробнее </a></div></li></ul></div></section><section class="construct_tour"><h2 class="construct_tour_title">Собери свой тур </h2><p class="heigh_thoughts_text">Идейные соображения высшего порядка,
<br>а также рамки и место обучения кадров </p><form class="user__form__constructor"><div class="form_container_placer"><div class="form_element_container"><div class="construct_form_field_label"><label for="username" class="form_element_caption">Имя</label></div><div class="form_input_action"><input type="text" id="username" name="username" placeholder="Введите Ваше имя" class="input_properties"></div></div><div class="form_element_container"><div class="construct_form_field_label"><label for="destination-field-id" class="form_element_caption">Направление</label></div><div class="form_input_action"><select class="input_properties"><option value="Куда хотите ехать" default selected hidden>Куда хотите ехать?</option></select></div></div><div class="form_element_container"><div class="construct_form_field_label"><label for="username" class="form_element_caption">Email</label></div><div class="form_input_action"><input type="email" id="email" name="email" placeholder="example@mail.com" class="input_properties"></div></div><div class="form_element_container"><div class="construct_form_field_label"><label for="telnumber" class="form_element_caption">Телефон</label></div><div class="form_input_action"><input type="tel" id="telnumber" name="telnumber" placeholder="+ 7 ( _ _ _ ) _ _ _ - _ _ - _ _" class="input_properties"></div></div><div class="form_element_container"><div class="construct_form_field_label"><label for="username" class="form_element_caption">Дата от</label></div><div class="form_input_action"><input type="date" id="from_date" name="from_date" placeholder="ДД.ММ.ГГГГ" class="input_properties"></div></div><div class="form_element_container"><div class="construct_form_field_label"><label for="username" class="form_element_caption">Дата до</label></div><div class="form_input_action"><input type="date" id="until_date" name="until_date" placeholder="ДД.ММ.ГГГГ" class="input_properties"></div></div><div class="form_element_container"><div class="construct_form_field_label"><label for="comments" class="form_element_caption">Комментарий</label></div><div class="form_input_action"><textarea name=" comments " id="comments " cols="30 " rows="10 " class="input_properties "></textarea></div></div></div></form></section><section class="construct_tour"><h2 class="construct_tour_title">Отзывы наших<br>путешественников </h2><p class="heigh_thoughts_text">Идейные соображения высшего порядка,
а<br>также рамки и место обучения кадров </p></section><section class="article_wrapper"><div class="article_block"><div class="article_card"><p class="article_text">Идейные соображения высшего порядка,
а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Идейные соображения высшего порядка,
а также начало повседневной работы по формированию позиции позволяет оценить значение модели развития. </p><div class="card_footer"><div class="card_user_minitext"><div class="card_footer_username">Мария </div><div class="card_footer_minitext">Тур: Вдали от дома </div></div><div class="mini_avatar"><img src="./img/mini-women-photo.png" class="mini_avatar_pic"></div></div></div><div class="article_card"><p class="article_text">Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров,
соответствует насущным потребностям.<br><br>Значимость этих проблем настолько очевидна,
что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Повседневная практика показывает,
что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. </p><div class="card_footer"><div class="card_user_minitext"><div class="card_footer_username">Павел </div><div class="card_footer_minitext">Тур: Путешествие в горы </div></div><div class="mini_avatar"><img src="./img/mini-men-photo.png" class="mini_avatar_pic"></div></div></div></div></section><section class="construct_tour"><h2 class="construct_tour_title">Фотографии путешествий </h2><p class="heigh_thoughts_text">Идейные соображения высшего порядка,
а<br>также рамки и место обучения кадров </p><div class="foto_gallery"><div class="foto_gallery_row1"><div class="row1_foto"><img src="./img/row1-foto1.png" alt="" class="gallery_row1_foto_modified"><img src="./img/row1-foto2.png" alt="" class="gallery_row1_foto_modified"><img src="./img/row1-foto3.png" alt="" class="gallery_row1_foto_modified"><img src="./img/row1-foto4.png" alt="" class="gallery_row1_foto_modified"></div></div><div class="foto_gallery_row2"><div class="row2_foto"><img src="./img/row2-foto1.png" alt="" class="gallery_row2_foto_modified"><img src="./img/row2-foto2.png" alt="" class="gallery_row2_foto_modified"><img src="./img/row2-foto3.png" alt="" class="gallery_row2_foto_modified"><img src="./img/row2-foto4.png" alt="" class="gallery_row2_foto_modified"><img src="./img/row2-foto5.png" alt="" class="gallery_row2_foto_modified"></div></div><div class="foto_gallery_row3"><div class="row3_foto"><img src="./img/row3-foto1.png" alt="" class="gallery_row3_foto_modified"><img src="./img/row3-foto2.png" alt="" class="gallery_row3_foto_modified"><img src="./img/row3-foto3.png" alt="" class="gallery_row3_foto_modified"><img src="./img/row3-foto4.png" alt="" class="gallery_row3_foto_modified"></div></div></div></section><section class="construct_tour"><h2 class="construct_tour_title">Истории путешествий </h2><p class="heigh_thoughts_text">Идейные соображения высшего порядка,
а<br>также рамки и место обучения кадров </p><div class="cards_wrapper"><div class="history_cards"><div class="history_card"><img src="./img/history-card1.png" class="history_card"></div><div class="history_card"><img src="./img/history-card2.jpg" class="history_card"></div><div class="history_card"><img src="./img/history-card3.png" class="history_card"></div></div></div><div class="prefooterfoto_wrapper"><div class="prefooter_foto_text_block"><div class="prefooter_foto"><img src="./img/footer photo.png" class="prefooter_foto_details"></div><div class="prefooter_text_block"><div class="prefooter_title">Пора в путешествие вместе с нами! </div><div class="prefooter_email">Напиши на почту и узнай подробности <br>на <em>yourtour@gmail.com</em></div></div></div></div></section></main><footer class="footer_wrapper"><div class="footer_logo">Наши социальные сети </div><div class="footer_nav"><ul class="footer_list"><li class="footer_item"><a href="#1" class="insta-link">instagram</a></li><li class="footer_item"><a href="#1" class="facebook-link">facebook</a></li><li class="footer_item"><a href="#1" class="vkontakte-link">vkontakte</a></li></ul></div></footer></body></html>font-style: normal;
font-weight: 400;
src: local(''),
url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),

/* Chrome 26+, Opera 23+, Firefox 39+ */

url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');

/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */


}

/* roboto-500 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    
    url('../fonts/roboto-v29-latin_cyrillic-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    
    url('../fonts/roboto-v29-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
    color: #1B1F2B;
}
.wrapper {
    max-width: 1168px;
    margin: 0 auto;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 28.88px;
}
.header_list {
    display: flex;
    flex-wrap: wrap;
}
.header_item {
    margin-right: 50px;
}
.header_item:last-child {
    margin-right: 0px;
}
.header-link {
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;
}
.header-link:hover,
.header-link:focus,
.header-link:active {
    opacity: 0.75;
    text-decoration: underline;
    font-size: 0.5px solid;
}
li {
    list-style-type: none;
}

/* Intro styles start */
.intro {
    max-width: 1920px;
    max-height: 831px;
    background: url(../img/intro-background-img.jpg) no-repeat center;
    background-size: cover;
    padding-top: 208px;
    padding-bottom: 309px;
    margin: 0px;
}
.intro_title {
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 109%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.intro_subtitle {
    color: white;
    font-size: 20px;
    line-height: 142%;
    text-align: center;
    max-width: 562px;
    max-height: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.search_tour_form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.search_form_submit {
    padding: 5px 20px;
    background-color: white;
    border-radius: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 24, 14px;
    color: black;
    letter-spacing: -0.01em;
    font-family: "Roboto";
}

/* Intro styles end*/
.main_info_foto_area {
    max-width: 1920px;
    background-color: #F9F7F4;
}
.main {
    max-height: 9101px;
    margin: 0 auto;
}

/*Choose yor tour links start*/
.choose_tour_title {
    color: #1B1F2B;
    font-size: 59px;
    font-style: normal;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 135px;
    margin-bottom: 35px;
}
.choose_tour_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    margin-bottom: 106px;
}
.choose_tour_item_link {
    text-decoration: none;
    font-size: 23px;
    font-weight: 700;
    line-height: 122%;
    font-weight: bold;
    color: #1B1F2B;
}
.choose_tour_item_link:focus {
    padding-bottom: 6px;
    color: #EFA501;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #EFA501;
}
.choose_tour_item_link:hover {
    padding-bottom: 6px;
    color: #1B1F2B;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #1B1F2B;
}

/*Choose yor tour links end*/

/*Choose yor tour foto start*/
.tour_foto_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.tour_foto_list {
    display: flex;
    max-width: 1170px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 135px;
}
.choose_tour_card {}
.choose_tour_card:nth-child(1) {
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../img/card\ tour\ photo-1.jpg");
    border-radius: 50px;
    width: 370px;
    height: 531px;
    background-size: cover;
}
.choose_tour_card:nth-child(2) {
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../img/card\ tour\ photo-2.jpg");
    border-radius: 50px;
    width: 370px;
    height: 531px;
    background-size: cover;
}
.choose_tour_card:nth-child(3) {
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../img/card\ tour\ photo-3.jpg");
    border-radius: 50px;
    width: 370px;
    height: 531px;
    background-size: cover;
}
.choose_tour_card:nth-child(4) {
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../img/card\ tour\ photo-4.jpg");
    border-radius: 50px;
    width: 370px;
    height: 531px;
    background-size: cover;
}
.choose_tour_card:nth-child(5) {
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../img/card\ tour\ photo-5.jpg");
    border-radius: 50px;
    width: 370px;
    height: 531px;
    background-size: cover;
}
.choose_tour_card:nth-child(6) {
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../img/card\ tour\ photo-6.jpg");
    border-radius: 50px;
    width: 370px;
    height: 531px;
    background-size: cover;
}
.upper_tour_title {
    color: white;
    font-size: 35px;
    font-weight: 500;
    line-height: 42, 7px;
    max-height: 86px;
    max-width: 270px;
    margin: 50px 50px 16px 50px;
}
.tour_price {
    color: white;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -1%;
    line-height: 24, 14px;
    padding-top: 3px;
    max-width: 270px;
    max-height: 24px;
    margin-bottom: 280px;
    margin-left: 50px;
    margin-right: 50px;
}
.more_info_and_arrow {
    display: grid;
    padding-right: 32px;
}
.more_info_about_tour {
    display: block;
    color: white;
    font-weight: 700;
    font-size: 23px;
    line-height: 28, 06px;
    text-decoration: none;
    width: 172px;
    height: 28px;
    margin-left: 50px;
    margin-right: 200px;
    text-align: left;
}
.more_info_about_tour::after {
    content: url("../img/Vector-Arrow.png");
    padding-left: 10px;
    height: 15px;
    width: 22px;
}
@keyframes scale {
    to {
        background-size: 120% 120%;
    }
}
.choose_tour_card:hover {
    animation: scale 0.3s ease forwards;
}

/*Choose yor tour foto end*/

/* Construct your tour start */
.construct_tour {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9F7F4;
}
.construct_tour_title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 59px;
    font-weight: 700;
    line-height: 124%;
    color: #1B1F2B;
}
.heigh_thoughts_text {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 142%;
    color: #A6A6A6;
    text-align: center;
    margin-bottom: 100px;
}

/* Construct your tour start */
.user__form__constructor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    align-content: flex-start;
    max-width: 1170px;
    min-height: 986px;
    background-color: white;
    border-radius: 50px;
    margin-bottom: 135px;
}
.form_container_placer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
    gap: 30px;
}
.form_element_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 4px;
    height: 104px;
    max-width: 500px;
    width: 50%;
}
.input_properties {
    background-color: #F9F7F4;
    height: 68px;
    border-radius: 10px;
    border: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 142%;
    width: 100%;
    color: #A6A6A6;
    padding: 20px;
}
.input_properties select.option {
    padding-left: -10px;
}
.form_input_action {
    margin-top: 8px;
}
.form_element_caption {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 142%;
    color: #1B1F2B;
}
.form_element_container textarea {
    display: flex;
    flex-direction: row;
    border: none;
    background-color: #F9F7F4;
    height: 152px;
    resize: none;
    border-radius: 10px;
}
.construct_form_field_label {}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    text-transform: uppercase;
}
.form_element_container:nth-child(7) {
    max-width: 1030px;
    width: 100%;
}

/* Construct your tour end */

/* Feedback articles  start*/

/* .feedback_tour {
            max-width: 1920px;
            ;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #F9F7F4;
        }
        
        .feedback_title {
            width: 529px;
            height: ;
            display: flex;
            justify-content: center;
            font-size: 59px;
            font-weight: 700;
            line-height: 124%;
            color: #1B1F2B;
        } */

/* Construct your tour end */

/* Aticles start */
.article_wrapper {
    display: flex;
    max-width: 1920px;
    flex-direction: column;
    justify-content: center;
    background-color: #F9F7F4;
}
.article_block {
    display: flex;
    max-width: 1170px;
    flex-direction: row;
    align-self: center;
    gap: 30px;
    margin-bottom: 135px;
    max-width: 100%;
    height: auto;
}
.article_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    width: 570px;
    height: 673px;
    background-color: #F4F0E9;
}
.article_text {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 122%;
    max-width: 100%;
    height: auto;
}
.card_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.card_footer_username {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;
}
.card_footer_minitext {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 142%;
    color: #A6A6A6;
    ;
}
.card_user_minitext {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.mini_avatar {}
.mini_avatar_pic {
    border-radius: 100%;
    width: 75px;
    height: 75px;
}

/* Aticles end */

/*Foto title start**/

/*Foto title end**/

/*Foto gallery start**/
.foto_gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1920px;
    height: 963px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F9F7F4;
    margin-bottom: 135px;
}

/* row 1   */
.foto_gallery_row1 {
    display: flex;
    flex-direction: column;
}
.row1_foto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gallery_row1_foto_modified {
    border-radius: 50px;
    max-height: 300px;
    max-width: 442.5px;
}

/* row 2  */
.foto_gallery_row2 {
    display: flex;
    flex-direction: column;
}
.row2_foto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gallery_row2_foto_modified {
    border-radius: 50px;
    min-height: 300px;
    max-width: 349px;
}

/* row 3   */
.foto_gallery_row3 {
    display: flex;
    flex-direction: column;
}
.row3_foto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gallery_row3_foto_modified {
    border-radius: 50px;
    max-height: 300px;
    max-width: 442.5px;
}

/*Foto gallery end */

/* History cards start*/
.cards_wrapper {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
}
.history_cards {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 50px;
    max-width: 1170px;
    margin-bottom: 135px;
}
.history_card {
    max-height: 567px;
    max-width: 1170px;
    border-radius: 50px;
    max-width: 100%;
    height: auto;
}

/* History cards end */

/* PreFooter Image start */
.prefooterfoto_wrapper {
    max-width: 1920px;
    display: flex;
    flex-direction: column
}
.prefooter_foto_text_block {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-height: 370px;
    max-width: 771px;
    margin-bottom: 135px;
}
.prefooter_foto_details {
    max-width: 370px;
    max-height: 370px;
    border-radius: 50px;
}
.prefooter_text_block {
    display: flex;
    flex-direction: column;
    max-width: 401px;
    max-height: 370px;
    gap: 20px;
    align-content: flex-end;
    justify-content: center;
}
.prefooter_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;
    margin-left: 30px;
    ;
}
.prefooter_email {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 142%;
    margin-left: 30px;
    color: #A6A6A6;
}
.prefooter_email em {
    color: black;
}

/* PreFooter Image end */
.footer_wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1920px;
    height: 88px;
    background-color: #F4F0E9;
    margin: 0 auto;
}
.footer_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 142%;
    color: #A6A6A6;
    ;
}
.footer_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer_list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    padding-bottom: 1px;
    margin-left: 180px;
}
.footer_item a {
    text-decoration: none;
    color: #1B1F2B;
    ;
}
.insta-linka {
    padding-right: 10px;
}
.insta-link::before {
    content: url(/img/insta-logo.svg);
    ;
    padding-right: 10px;
}
.facebook-link::before {
    content: url(/img/facebook-logo.svg);
    padding-right: 10px;
}
.vkontakte-link::before {
    content: url(/img/vkontakte-logo.svg);
    padding-right: 10px;
}